<!DOCTYPE html>
<html>
<head>
    <title>Stores</title>
</head>
<body>
    <ul>
        <% @stores.each do |store| %>
            <li><%= store.name %></li>
        <% end %>
    </ul>
</body>
</html>