$("#movieSearch").on("submit", function(e) {
    e.preventDefault()
    console.log("what up ")
    var movie = $("#movie").val().trim()
    $.ajax({
        url: `/api/movies`,
        method: "GET"
    }).then(function(data) {
        console.log(data)
        $("#searchedMovie").html(
        `

        <div class="card" style="width: 18rem;">
        <img class="searched-movie--img" src="${data.Poster}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">${data.Title}</h5>
                <p class="card-text">${data.Year}</p>
                <button class="saveMovie" data-name="${data.Title}" data-poster="${data.Poster}" data-year="${data.Year}">Save</button>
            </div>
        </div>
        `
        )
    })
}) 

console.log("hello")
$("#searchedMovie").text("its a me")