<div class="index__parallax"></div>

    <div class="container">
        <div class="jumbotron mt-lg">
            <h1 class="display-4">HELLO!</h1>
            <p class="lead">Please enter your username if you've already made an account with us.</p>
            <p class="lead">If you haven't made a username yet, go ahead and enter one below to get started.</p>
            <hr class="my-4">
            <form id="signUpForm">
                <input id="username" type="text" name="username">
                <input id="signUpButton" type="submit" value="submit">
            </form>
        </div>
    </div>