.restaurant__img {
  height: 200px;
  width: 200px;
}

.stars {
  font-size: 20px;
}

/* .stars1:hover {
  color: gold;
} */

.star-hov {
  color: gold;
}

.star-click {
  color: gold;
}

.stars-contain {
  display: inline;
}
