.restaurant__img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin: 0 auto 20px;
  display: block;
}

.stars {
  font-size: 20px;
}

/* .stars1:hover {
  color: gold;
} */

.star-hov {
  color: gold;
}

.star-click {
  color: gold;
}

.stars-contain {
  display: inline;
}

.stars:active {
  transform: translateY(2px);
}

.restaurant-card {
  border: 2px solid black;
  border-radius: 10px;
  height: 400px;
  margin-bottom: 20px;
}

h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.rating-contain {
  margin: auto;
  display: block;
  width: 120px;
}